[Unit]
Description=Creates WLAN AP on boot

[Service]
Type=simple
ExecStart=/root/Palast/Kioku/Services/own.create_ap.sh

[Install]
WantedBy=multi-user.target
