[Unit]
Description=Creates WLAN AP on boot

[Service]
Type=simple
ExecStart=/root/Palast/Kioku/Scripts/kelevra.create_ap.sh

[Install]
WantedBy=multi-user.target
