[Unit]
Description=Spark up Neo Pixel every full hour during wake time

[Timer]
OnCalendar=*-*-* 09:00:00
AccuracySec=1s

[Install]
WantedBy=multi-user.target
