[Unit]
Description=Gently indicate if it's time to get up with NeoPixels@JapLamp

[Service]
Type=simple
ExecStart=/root/Palast/Kioku/Scripts/kelevra/kelevra.indicate_good.py

[Install]
WantedBy=multi-user.target
